:root {
  --color-bg: #FEFAE0; // White-Beige        
  --color-card: #FAEDCD; // Beige      
  --color-accent: #CCD5AE; // Green
  --color-accent-light: #E9EDC9; // Beige - with green
  --color-primary: #D4A373;  // Brown  
  --color-primary-dark: #C08457;
  --color-secondary: #E7C8A0;  
  --color-text: #5C4033;       
  --color-muted: #7E6B5A;     
  --color-light-grey: #F5F3F4; // Light Grey
  --color-grey: #D3D3D3; // Grey
  --color-silver: #B1A7A6; // Silver
  --color-red: #A4161A; // Red
  --color-grey-black: #161A1D; // Grey Black
  --color-black: #0B090A; // Black
}

